{{ attach_library('theme_name/landmark-roles') }}
<section class="landmark-roles-section">
  <h2>Example #1</h2>
  {% for item in items %}
  <article aria-labelledby="sample-landmark-roles1" class="sample-landmark-roles__item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.desc }}</p>
  </article>
  {% endfor %}
</section>
<div class="break"></div>
<section class="landmark-roles">
  <h2>Example #2</h2>
  {% for item in items %}
  <ul aria-labelledby="sample-landmark-roles2" class="sample-landmark-roles__item">
    <li>{{ item.title }}: {{ item.desc }}</li>
  </ul>
  {% endfor %}
</section>
