<section class="cards highlight highlight--left section">
  <div class="l-center">
    <div class="highlight__image">
      <div class="card__image">{{ image }}</div>
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{ title }}</h2>
      </div>
      <div class="highlight__description">
        {{ description }}
      </div>
      <div class="highlight__buttons buttons buttons--left">
        <a href="#" class="button">Learn More <span class="element-invisible">about highlight box title</span></a>
      </div>
    </div>
  </div>
</section>

<section class="cards highlight highlight--left-small section">
 <div class="l-center">
    <div class="highlight__image">
      <div class="card__image">{{ image }}</div>
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{ title }}</h2>
      </div>
      <div class="highlight__description">
        {{ description }}
      </div>
    </div>
  </div>
</section>